*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#interface {
  padding: 16px;
  background-color: #0c0a0a;
  min-height: 100vh;
}

#bar-chart {
  display: flex;
  flex-direction: row-reverse;
  gap: 1px;
  height: 240px;
  width: 840px;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #1b1b1b;
  position: relative;
}

#bar-chart::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.bar {
  list-style: none;
  width: 20px;
  margin-top: auto;
  animation: scroll 1s linear both;
  position: relative;
}

#bar-chart:hover .bar::after {
  content: attr(data-hover);
  font-family: monospace;
  position: absolute;
  text-align: center;
  top: -18px;
  width: 100%;
  color: inherit;
}

.bar:first-child {
  animation: grow 1s linear both;
  transform-origin: bottom;
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-21px);
  }
}

@keyframes grow {
  0% {
    transform: scaleY(0) translateX(0px);
  }

  33% {
    transform: scaleY(100%) translateX(-7px);
  }

  100% {
    transform: translateX(-21px);
  }
}
