*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#bar-chart {
  display: flex;
  flex-direction: row-reverse;
  gap: 1px;
  height: 196px;
  width: 840px;
  margin: 0 auto;
  overflow-x: hidden;
}

.bar {
  list-style: none;
  width: 20px;
  margin-top: auto;
  animation: scroll 1s linear;
}

.bar:first-child {
  animation: grow 1s linear;
  transform-origin: bottom;
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-21px);
  }
}

@keyframes grow {
  0% {
    transform: scaleY(0) translateX(0px);
  }

  100% {
    transform: scaleY(100%) translateX(-21px);
  }
}
